@model BlogEdit
@{
    ViewData["title"] = "Blog-List";
}

<div class="max-w-md mx-auto">
    <form asp-action="GetBlogList" data-ajax="true" data-ajax-method="get" data-ajax-update="#getList">
        <div class="relative mb-3">
            <select asp-for="Bstatus" id="select-status" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" >
                <option value="Paid">Premium</option>
                <option value="UnPaid">Free</option>
            </select>
            <label asp-for="Bstatus" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"></label>
            <span asp-validation-for="Bstatus" class="text-red-800"></span>
        </div>
    </form>

    <div class="my-3" hidden>
        <input type="submit" id="btn-searchClick" value="Search" class="text-white bg-blue-600 hover\:bg-blue-800 py-3 px-5 rounded-lg" />
    </div>

</div>

<div id="getList">
    <script>
        $(document).ready(function () {
            $('#btn-searchClick').on('change', function () {
                $('#btn-searchClick').click();
            });
        });

        DeletedComplete = function (e) 
        {
            $('#btn-searchClick').click();
        }
    </script>
</div>