@model UserListEdit

@{
    ViewData["Title"] = "Sing-Up";
}

<div class="max-w-md mx-auto">
    <form asp-action="AddUser" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="relative mb-3">
            <label asp-for="LoginName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="LoginName" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="deuladipesh@gmail.com" required="" />

            <span asp-validation-for="LoginName" class="text-red-800"></span>
        </div>

        <div class="relative mb-3">
            <label asp-for="LoginPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="LoginPassword" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******" required="" />
            <span asp-validation-for="LoginPassword" class="text-red-800"></span>
        </div>


        <div class="relative mb-3">
            <label asp-for="FullName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="FullName" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="deuladipesh@gmail.com" required="" />

            <span asp-validation-for="FullName" class="text-red-800"></span>
        </div>

        <div class="relative mb-3">
            <label asp-for="EmailAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="EmailAddress" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******" required="" />
            <span asp-validation-for="EmailAddress" class="text-red-800"></span>
        </div>

        <div class="relative mb-3">
            <label asp-for="UserFile" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="UserFile" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="deuladipesh@gmail.com" required="" />

            <span asp-validation-for="UserFile" class="text-red-800"></span>
        </div>

        <div class="relative mb-3">
            <label asp-for="Phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Phone" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******" required="" />
            <span asp-validation-for="Phone" class="text-red-800"></span>
        </div>

        <div class="my-3">
            <input type="submit" value="Sign Up" class="w-full text-white bg-blue-500 hover\:bg-blue-700 py-3 px-5 rounded-lg" />
        </div>
    </form>
</div>
