@model UserListEdit
@{
    ViewData["title"] = "Verify OTP";
}

<div class="max-w-md mx-auto">
    <form asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly" class="text-red-800"></div>

        <div class="relative mb-3">
            <label asp-for="Otp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Otp" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="deuladipesh@gmail.com" required="" />

            <span asp-validation-for="Otp" class="text-red-800"></span>
        </div>

        <div class="mb-2">
            <input type="submit" value="Submit" class="text-white py-3 px-5 rounded-lg bg-blue-600 hover:bg-blue-800" />
        </div>
    </form>

</div>